/* When the screen is small, hide all icon links. Show the link that contains should open and close the topnav (.icon) */
nav .right {
    display: none;
}
nav a.icon {
    float: right;
    display: block;
}
.topnav.responsive {
    position: relative;
}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a.right {
    float: right;
    display: block;
    text-align: center;
    width: auto;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    width: 25%;
}

/*Notifiche*/
.container-notifica button{
    background-color: transparent;
    float: right;
    border: none;
    cursor: pointer;
}

/*assistente*/
.assistente {
    display: flex;
    justify-content: center;
    background-color: initial;
    align-items: center;
}

#more {display: none;}

.btnAssistente {
    margin: 1%;
    padding: 1% 2%;
    font-size: 150%;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #caff70;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.btnAssistente:hover {background-color: #7aaa26}
  
.btnAssistente:active {
    background-color: #7aaa26;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.assResult {
    display: flex;
    justify-content: center;
    align-items: center;
}

.assResult div{
    margin-inline: 5%;
    display: inline-block;
    align-items: center;
}

#readMoreBtn {
    margin: 1%;
    padding: 1% 2%;
    font-size: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #caff70;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #999;
}

/* Varieta */
.sec-varieta div{
    display: initial;
    vertical-align: top;
    text-align: left;
}

.sec-varieta div:first-child {
    width: 60%;
}

.sec-varieta div:first-child p {
    text-align: left;
}

.sec-varieta div:nth-child(2) {
    width: 30%;
}

.top-varieta img{
    height: 80px;
    width: 100px;
}

.top-varieta a {
    vertical-align: 200%;
}

.varieta > div{
    display: inline-block;
    margin: 0 10px 0px 10px;
}

.varieta div:first-child {
    width: 100%;
}

.varieta div:nth-child(2) {
    width: 100%;
    padding-right: 20px;
}

.varieta div:nth-child(2) p {
    text-align: left;
    margin: 10px 0 10px 0;
}

.varieta p {
    margin-inline: 20px;
    text-align: left;
}

.progress {
    width: 100%;
    height: 20px;
    border-radius: 8px;
    background-color: grey;
  }
  
.piccantezza {
    background-color: red;
}

.gusto {
    background-color: orange;
}

.estetica {
    background-color: green;
}

 

main .login p, .rifornisci {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
main .login p span, .rifornisci span{
    background: #fff;
    padding: 0 10px;
}

/*Gestione pagina ricette*/  
.ricetta {
    position: relative;
    max-width: 100%;
    margin: 10px 1%;
    padding: 0;
}

.ricetta img {
    vertical-align: middle;
    max-width: 100%;
    overflow:hidden;
    padding: 0;
}
.ricetta p{
    display: inline-block;
    margin: 0 1%;
}
.ricetta p span{
    font-size: small;
}
.ricetta .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    line-height: 300%;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.ricetta .content a{
    color: #f1f1f1;
}


.container{
    padding: 16px;
}
/*Info ricette*/
.info-ricetta{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 100%;
    margin: 2%;
    padding: 3%;
}
.info-ricetta img{
    max-width: 100%;
}
.info-ricetta .livello{
    text-align: center;
}
.info-ricetta .livello p{
    display: inline-block;
    margin-top: 0;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal .container p{
    border: none;
}
  
/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
   
  /* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: #f1f1f1;
}
/*Modal pagamento*/
.modal-pay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}
.container-pay{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    padding: 5%;
    text-align: center;
}


/* Gestione immagini con overlay area utente*/
.card {
    position: relative;
    padding: 0;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;
}
  
/* Immagine Responsive */
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
/* Effetto overlay */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

/*Gestione link*/
.card a, .aside a{
    color: white;
    text-decoration: none;
}
.card:hover .overlay, .aside:hover .overlay {
    opacity: 1;
}


/*Prodotti*/
.product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 49%;
    margin: 2% auto;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.product img{
    width: 200px;
    height: 170px;
    margin-top: 2%;
}

.product a{
    text-decoration: none;
    color: black;
}

.price {
    color: grey;
    font-size: 22px;
}

.product input{
    max-width: 40%;
    padding: 6px;
    margin-bottom: 5%;
    border-radius: 8px;
}
.product form{
   display: inline-block;
   width: 45%;
}
.product button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 2%;
}
  
.product button:hover {
    opacity: 0.7;
}

.add-button{
    background-color: #caff70;
    color: black;
    padding: 14px 20px;
    margin: 10% 0 0;
    border: none;
    width: 100%;
    cursor: pointer;
}

/*Info prodotto*/
.info{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 98%;
    margin: 2%;
    padding: 2%;
    text-align: center;
}

.info p{
    margin: 0 2% 0 0;
}

.info img{
    max-width: 300px;
    float: none;
    margin-right: 5%;
}

.info input{
    max-width: 30%;
    padding: 6px;
    border-radius: 8px;
    margin-bottom: 4%;
}

.info form input, .info form label{
    display: inline-block;
}
.info button{
    border: none;
    width: 70%;
    border-radius: 5px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 2%;
    margin-top: 0;
}

/*info ordine*/
.info-ordine img, .info-ordine ul{
    display: inline-block;
    vertical-align: top;
    margin: 1% 0 2% 0;
}
.info-ordine img{
    max-width: 30%;
}

.info-ordine h3{
    margin-top: 0;
}
.stato div{
    margin: 16px 0;
}

/*Ordini*/
.order{
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 98%;
    margin: 2%;
    text-align: left;
    display: inline-block;
}
.order div{
    float: left;
    margin: 5%;
    font-size: 500%;
}
.order button{
    border: none;
    float: right;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.order button a{
    color: white;
    text-decoration: none;
}
  
.order button:hover{
    opacity: 0.7;
}
/*aside*/
.aside img{
    max-width: 100%;
}

.aside {
    position: relative;
    padding: 0;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
}
  
/* Effetto overlay */
.aside .overlay {
    position: absolute;
    bottom: 1.5%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    opacity:0;
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

/*Form aggiunta prodotto*/
.container textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container input[type=number]{
    width: 23%;
}
.container input[type=file]{
    border: none;
}

/*dati*/
.dati{
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-inline: auto;
    padding: 2%;
}
.avatar{
    width: 20%;
    border-radius: 50%;
}

/*logout button*/
.logout{
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 10% 0 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/*error*/
.error{
    color: red;
    margin: 1%;
}

@media screen and (min-width: 768px){
    nav a.right {
        float: right;
        display: inline-flex;
        width: auto;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    nav a.icon {
        display: none;
    }
    .ricetta {
        max-width: 45%;
    }

    .social, .pagamenti{
        width: 15%;
    }
    .contatti{
        width: 60%;
    }

    .card{
        display: inline-block;
        margin-inline: 2%;
    }
    .admin{
        text-align: center;
    }

    .info{
        display: inline-block;
        text-align: left;
    }
    .info img{
        float: left;
    }
    .info input{
        max-width: 30%;
    }
    
    .info form{
        display: inline-block;
        width: 20%;
    }
    
    .info button{
        width: 70%;
    }
    .order, .order1{
        width: 80%;
    }
    .order button, .order1 button{
        width: 45%;
        margin-bottom: 2%;
        margin-right: 5%;
    }
    .product{
        margin: 2%;
    }

    .product img{
        width:98%;
    }

    .stato div{
        display: inline-block;
        margin: 4%;
    }
    .info-ricetta img, .info-ricetta .livello{
        display: inline-block;
        vertical-align: top;
    }
    .livello{
        width: 45%;
        text-align: left;
        margin-left: 2%;
    }
    .info-ricetta img{
        max-width: 50%;
    }
    .info-ricetta .ingredienti, .info-ricetta .procedimento{
        display: inline-block;
        margin: 2% 0;
        padding: 0 2%;
    }
    .livello p{
        display: block;
        width: 100%;
        text-align: center;
    }
    .ingredienti{
        max-width: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-right: 2%;
    }
    .procedimento{
        vertical-align: top;
        max-width: 77%;
    }

    .product {
        width: 15%;
    }

    .sec-varieta div{
        display: inline-block;
        vertical-align: top;
    }

    .varieta div:first-child {
        float: left;
        width: 30%;
    }

    .varieta div:first-child img {
        margin-top: 20%;
        height: 150px;
        width: 100%;
    }

    .varieta div:nth-child(2) {
        width: 60%;
    }
}